<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SentiScan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SentiScan.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value>Sentinor-dc1</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>SP2025</value>
            </setting>
            <setting name="DatabaseUser" serializeAs="String">
                <value>SPAdmin</value>
            </setting>
            <setting name="DatabasePass" serializeAs="String">
                <value>Bounty+Mars1</value>
            </setting>
        </SentiScan.Properties.Settings>
    </userSettings>
</configuration>